<ng-container *ngIf="!(loading$ | async); else loader">
    <!--
        Динамические изменяемое количество столбцов
            * на большом экране - 7 (?) столбцов
            * iphone7 - 5 столбцов
            * iphone5 - 3 столбца
    -->

    <section class="date-row">
        <div class="date-row__title">
            Таски
        </div>

        <lima-date-line></lima-date-line>
    </section>

    <hr />

    <section class="tasks">
        <lima-tasks-list-item></lima-tasks-list-item>
    </section>
</ng-container>

<ng-template #loader>
    LOADING
</ng-template>

<!--into item component?-->
<!--<lima-progress-icon></lima-progress-icon>-->
