:host {
    display: block;
}

.grad {
    font-size: 24px;
    background: linear-gradient(to left, #fdfbfb, #ebedee 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
