:host {
    display: block;
}

.container {
    display: flex;
}

.day-container {
    display: flex;
    flex-direction: column;
}

.vertical-row {
    margin: 0 10px;
    border-left: 3px solid green;
}
