<lima-date-line-header></lima-date-line-header>

<div class="container">
    <!-- todo - выделить в компонент? -->
    <div class="day-container">
        <div>5 июня</div>
        <div>{{ daysAbbreviation.Monday }}</div>
    </div>

    <div class="vertical-row"></div>

    <div>
        <div>5 июня</div>
        <div>{{ daysAbbreviation.Monday }}</div>
    </div>

    <div class="vertical-row"></div>

    <div>
        <div>5 июня</div>
        <div>{{ daysAbbreviation.Monday }}</div>
    </div>

    <!--<div class="vertical-row"></div>-->

    <!--<div>-->
    <!--<div>5 июня</div>-->
    <!--<div>{{ daysAbbreviation.Monday }}</div>-->
    <!--</div>-->

    <!--<div class="vertical-row"></div>-->

    <!--<div>-->
    <!--<div>5 июня</div>-->
    <!--<div>{{ daysAbbreviation.Monday }}</div>-->
    <!--</div>-->

    <!--<div class="vertical-row"></div>-->

    <!--<div>-->
    <!--<div>5 июня</div>-->
    <!--<div>{{ daysAbbreviation.Monday }}</div>-->
    <!--</div>-->

    <!--<div class="vertical-row"></div>-->

    <!--<div>-->
    <!--<div>5 июня</div>-->
    <!--<div>{{ daysAbbreviation.Monday }}</div>-->
    <!--</div>-->
</div>
