<p>
  row-progress-bar works!
</p>


<lima-check-button [taskDone]="true"></lima-check-button>
<lima-check-button></lima-check-button>
<lima-check-button></lima-check-button>
<lima-check-button></lima-check-button>
