<form class="form" [formGroup]="form">
    <label>
        <input type="text" formControlName="title" />
    </label>

    <div *ngIf="form.showTitleError()" class="error">
        {{ titleError }}
    </div>

    <label>
        <textarea
            name=""
            cols="30"
            rows="10"
            formControlName="description"
        ></textarea>
    </label>

    <label>
        <input type="date" formControlName="deadline" />
    </label>

    <lima-days-picker
        [form]="form.get('implementationDays')"
    ></lima-days-picker>
</form>

<button (click)="submit()">Submit</button>
