<form [formGroup]="form.get('single')">
    <label>
        <input type="checkbox" formControlName="monday" />
        Mon
    </label>

    <label>
        <input type="checkbox" formControlName="tuesday" />
        Tue
    </label>

    <label>
        <input type="checkbox" formControlName="wednesday" />
        Wed
    </label>

    <label>
        <input type="checkbox" formControlName="thursday" />
        Thu
    </label>

    <label>
        <input type="checkbox" formControlName="friday" />
        Fri
    </label>

    <label>
        <input type="checkbox" formControlName="saturday" />
        Sat
    </label>

    <label>
        <input type="checkbox" formControlName="sunday" />
        Sun
    </label>
</form>

<section *ngIf="showError" class="error">
    {{ errorMessage }}
</section>
